// app global css in Sass form
@import "./util/_width.sass"

a
  text-decoration: none

body.body--light
  // background: rgba(26, 108, 225, 0.03)
  background: #92bf99
  height: 100%
  overflow: hidden

.q-scrollarea__bar--v,
.q-scrollarea__thumb--v
  width: 6px
  opacity: 0.35
  border-radius: 5px

.my-page
  // background: #f0f2f5
  &-header
    width: 100%
    background: #fff
    padding: 15px 10px 0 10px
    &-subtitle
      font-size: 23px
      margin-top: 10px
  &-body
    margin: 10px

.my-table
  & .q-table__top
    padding: 12px 0
  & .q-table
    & tbody
      & td
        height: 38px
        &.action
          & > a
            margin-right: 10px
          & > a:last-child
            margin-right: 0

  &.text
    &-line2-f
      white-space: inherit !important
      word-break: break-all !important

  & .q-checkbox__inner
    font-size: 30px
    
.my-dialog
  & .q-dialog-header
    padding-top: 10px
    padding-bottom: 10px
  & .q-form-item
    & .q-field--with-bottom
      padding-bottom: 10px
  & .q-dialog-footer
    & > button
      min-width: 65px
      max-height: 35px
.my-form
  & .q-label
    display: inline-block
    flex-grow: 0
    overflow: hidden
    white-space: nowrap
    text-align: right
    vertical-align: middle
    &.text-left
      text-align: left
    & > label
      position: relative
      display: inline-flex
      align-items: center
      height: 40px
    &::after
      content: ":"
      position: relative
      top: -1px
      margin: 0 15px 0 3px
      font-weight: 400
    &.required::before
      content: "*"
      position: relative
      top: 1px
      margin: 0 5px 0 10px
      font-weight: 400
      color: $negative
  & .q-value
    color: rgba(0,0,0,.65)
    display: inline-block
    line-height: 40px
  & .q-field
    &__bottom--animated
      left: -5px
      bottom: 16px !important
      & .q-field__messages
        & div
          width: max-content
          border-radius: 5px
          background: $negative 
          color: #fff
          padding: 5px

.my-dropdown


